<h2 class="ui center aligned  medium icon header">
  <i class="circular comments icon"></i>
  Chat Box
</h2>

<div class="ui grid">

  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">

      <div class="content">
        <div class="ui feed">
          <h4 class="ui header">Conversation</h4>
          <% @messages.each do |msg| %>
            <em><strong><%= msg.user.username %> : </strong></em>
            <em><%= msg.body %></em>
            <br>
          <% end %>
        </div>
      </div>

      <%= form_for(@msg,html:{class:"ui action input",role:"form"},url:message_path)  do |f|%>
        <%= f.text_field :body,placeholder:"Enter your message here.."%>
        <%=f.button "Send",class:"ui orange button" %>
      <% end %>

    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui vertical menu">
          <a class="item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>

</div>